@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bun venit pe vreinuvrei</h1>
    <p>Un blog despre trăire, emoție și adevăr</p>
</div>
